svg {
    display: block;
    margin: auto;
}
path.hexagonFrame {
    fill: none;
    stroke: black;
    stroke-width: 10;
    opacity: 0;
}
path.pentagon {
    stroke: black;
    stroke-width: 1;
}
path.pentagon.selected {
}

html {
    background-color: #fff;
}

.hide {
    display: none;
}

.gui {
    font-family: helvetica,sans;
    font-size: 14px;
    position: fixed;
    padding: 5px;
    top: 30px;
    left: 30px;
}

header {
    background-color: #62416a;
    color: #fff;
    display: none;
}

.header {
    width: 960px;
    padding: 5px;
    display: block;
    margin: 0 auto;
}

header h1 {
    display: inline-block;
}

header h2 {
    float: right;
    padding-top: 4px;
    margin-right: 30px;
}

.guiButton {
    font-family: helvetica,sans;
    font-size: 12px;
    border: 1px;
    color: black;
    padding: 3px;
    margin: 5px;
    background-color: white;
}

#btns {
  width: 800px;
  display: block;
  margin: 0 auto;
}
