.btn {
  background: #9c4aac;
  background-image: -webkit-linear-gradient(top, #9c4aac, #62416a);
  background-image: -moz-linear-gradient(top, #9c4aac, #62416a);
  background-image: -ms-linear-gradient(top, #9c4aac, #62416a);
  background-image: -o-linear-gradient(top, #9c4aac, #62416a);
  background-image: linear-gradient(to bottom, #9c4aac, #62416a);
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: inline-block;
}

.btn:hover {
  background: #62416a;
  text-decoration: none;
}

